/* Attribution footer */
.attribution {
  font-size: 11px;
  text-align: center;
  display: block;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Setting up main flex styling, height, and width */
body {
  height: 90vh;
}
.container {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  height: 50%;
  display: flex block;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 5%;
  color: hsla(0, 0%, 100%, 0.75);
  gap: 20px;
}

/* text and font se */
h2 {
  font-weight: 700;
  font-family: "Big Shoulders Display", cursive;
}
.card p {
  height: 50%;
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

.green-text {
  color: hsl(179, 100%, 13%);
}
.blue-text {
  color: hsl(184, 100%, 22%);
}
.yellow-text {
  color: hsl(31, 77%, 52%);
}

/*  Borders */
.left {
  border-radius: 5px 0 0 5px;
}

.right {
  border-radius: 0 5px 5px 0;
}

/* Card colors */
.yellow {
  background-color: hsl(31, 77%, 52%);
}
.green {
  background-color: hsl(179, 100%, 13%);
}
.blue {
  background-color: hsl(184, 100%, 22%);
}

/* Buttons */
.btn {
  width: 150px;
  height: 50px;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-decoration: none;
}

.btn:hover {
  background-color: hsl(0, 0%, 0%, 0);
  border: 1px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

/* Styling for smaller screens */
@media only screen and (max-width: 400px) {
  .container {
    width: 90%;
    height: 900px;
    flex-direction: column;
    margin-top: 50px;
  }
  .card {
    padding: 5%;
  }

  .card p {
    height: 30%;
  }
  .left {
    border-radius: 5px 5px 0 0;
  }
  .right {
    border-radius: 0 0 5px 5px;
  }
}
