.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 100px;
  display: block;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  margin: 0 auto;
  width: 50%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  color: hsla(0, 0%, 100%, 0.75);
  gap: 20px;
}

.card p {
  flex-grow: 2;
}

.left {
  border-radius: 5px 0 0 5px;
}

.right {
  border-radius: 0 5px 5px 0;
}

.yellow {
  background-color: hsl(31, 77%, 52%);
}

.green {
  background-color: hsl(179, 100%, 13%);
}

.blue {
  background-color: hsl(184, 100%, 22%);
}

.btn {
  width: 150px;
  height: 50px;
  background-color: hsla(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-decoration: none;
}

@media only screen and (max-width: 400px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
  .card {
    border-radius: 5px;
    width: 75%;
    margin: 5%;
  }
}
